<div class="flex sm:flex-row flex-col sm:space-x-4 sm:space-y-0 space-y-4 items-center justify-center p-5">
    <div class="flex sm:flex-row flex-col sm:space-x-2 sm:space-y-0 space-y-2 sm:items-start items-center" >
        <span class="text-white text-sm block text-center"> {{year}} • Designed and developed by</span>
        <a href="https://www.linkedin.com/in/sopoude/" target="_blank" class="text-white bottom-glow fromLeft text-sm font-semibold text-center">Yaya Sopegue Soro</a>
        <span class="text-white text-sm block"> with</span>
    </div>
    <a href="https://angular.io/" target="_blank" class="border-2 rounded border-glow px-4 self-center text-white pb-1">Angular</a>
</div>