<div class="border-4 rounded-md border-glow max747-70 w-full p-8">
    <div class="flex flex-col space-y-8">
        <span class="text-white text-3xl block font-bold">About Me</span>
        <div class="flex flex-col space-y-1">
            <span class="text-white text-lg block font-semibold">I'm a web development enthusiast with about 10
                personnals (mostly tries) projects made with fun.</span>
            <span class="text-white text-lg block font-semibold">I personnaly spent a lot of time learning and using
                Vue.js, Laravel, Postgresql and Mysql for my projects.</span>
        </div>
        <span class="text-white text-lg block font-semibold">I'm currently pursuing a master in computer & network
            systems.</span>
        <span class="text-white text-lg block font-semibold">I like to play games like apex legends in my free time and
            work on new website ideas.I like to play games like apex legends in my free time and work on new website
            ideas.</span>
        <span class="text-white text-lg block font-semibold">As i write this, I'm learning java web technologies &
            Angular to get hired.</span>
        <span class="text-white text-sm block font-semibold text-center self-center">This website is the step towards my
            goal</span>
    </div>
</div>