<div class="root border-8 border-glow bg-black w-full h-full bg-fixed bg-center md:bg-cover bg-no-repeat bg-contain">
  <div class="w-full sticky top-0 py-8 z-20 bg-black">
    <app-navbar class="w-full h-full"></app-navbar>
  </div>
  <div class="relative flex flex-col w-full h-full bg-black bg-opacity-90 root-child sm:px-24 px-8 py-4">
    <div class="flex flex-col items-center space-y-32 justify-center py-20 top-48">
      <app-home id="home" class="component"></app-home>
      <app-about id="about" class="component"></app-about>
      <app-tries id="tries" class="component"></app-tries>
      <app-now id="now" class="component"></app-now>
      <app-contact id="contact" class="component"></app-contact>
    </div>
    <app-footer class="relative bottom-0 left-0 right-0 sm:my-0 mt-10"></app-footer>
  </div>
</div>
<router-outlet></router-outlet>