<div class="home border-4 rounded-md border-glow w-full p-8">
    <div class="flex flex-col space-y-8">
        <span class="text-white text-3xl block font-bold">Hi, I'm Yaya Sopegue Soro, you can call me Yaya</span>
        <div class="flex flex-col space-y-1">
            <span class="text-white text-lg block font-semibold">I'm a student with a web developer background based in
                France.</span>
            <span class="text-white text-lg block font-semibold">I only have personnal experience, I've never worked for
                a company or as a freelancer.</span>
        </div>
        <span class="text-white text-sm block font-semibold text-glow text-center self-center">I'm currently learning
            JEE, Spring
            boot & Angular to find a
            job</span>
    </div>
</div>